@import url(reset.min.css);
.r {
  position: relative;
}
.a {
  position: absolute;
}
.full {
  width: 100%;
  height: 100%;
}
.content {
  height: auto;
  background: #DDEEF2;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content h1 {
  background: #F4FAFB;
  border: 1px solid #BBDDE5;
  font-size: 14px;
  padding: 7px 10px;
  margin: 0 0 10px 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content h1 .action-spana {
  float: right;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content h1 .action-spana a {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 2px 5px 2px 23px;
  border: 1px solid #278296;
  border-right: 2px solid #278296;
  border-bottom: 2px solid #278296;
  background: #DDEEF2;
  background: url(../img/icon_add.gif) no-repeat 3px center;
}
.content h1 .action-spana a:hover {
  border: 1px solid #5FA6B6;
  border-right: 2px solid #5FA6B6;
  border-bottom: 2px solid #5FA6B6;
  background: #ffffff url(../img/icon_add.gif) no-repeat 3px center;
  color: #666;
  text-decoration: none;
}
.content h1 .action-spanb a {
  color: #333;
}
.content h1 .action-spanc a {
  color: #9CACAF;
}
.content .main-div {
  background: #F4FAFB;
  border: 1px solid #BBDDE5;
  margin-bottom: 10px;
  padding: 2px;
}
.content .main-div table {
  background: #FFF;
  width: 99%;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.content .main-div table .label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  color: #192E32;
  width: 30%;
}
.content .main-div table .label .img {
  display: inline-table;
  vertical-align: middle;
  margin-top: -5px;
}
.content .main-div table tr td .require-field {
  margin-left: 10px;
  font: 12px verdana;
  color: #FF0000;
}
.content .main-div table tr td .notice-span {
  color: #666;
  font-size: 12px;
}
.content .main-div table tr td option {
  font-size: 12px;
}
.content .main-div table tr td .all_menu_list option:not(:first-child) {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content .main-div table tr .center .button {
  cursor: pointer;
  width: auto;
  height: 20px;
  background: null;
  background: url(../img/button_bg.gif) repeat-x;
  font-size: 12px;
  padding: 2px 8px 2px 8px;
  margin: 2px 2px;
  border: 1px solid #2D5082;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content .footer {
  background: #F4FaFb;
  border: 1px solid #BBDDE5;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #9CACAF;
  margin: 10px 0;
  text-align: center;
}
