@import url(reset.min.css);
.r {
  position: relative;
}
.a {
  position: absolute;
}
.full {
  width: 100%;
  height: 100%;
}
.commodity {
  height: auto;
  background: #DDEEF2;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.commodity h1 {
  background: #F4FAFB;
  border: 1px solid #BBDDE5;
  font-size: 14px;
  padding: 7px 10px;
  margin: 0 0 10px 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.commodity h1 .action-spana {
  float: right;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.commodity h1 .action-spana a {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 2px 5px 2px 23px;
  border: 1px solid #278296;
  border-right: 2px solid #278296;
  border-bottom: 2px solid #278296;
  background: #DDEEF2;
  background: url(../img/icon_add.gif) no-repeat 3px center;
}
.commodity h1 .action-spana a:hover {
  border: 1px solid #5FA6B6;
  border-right: 2px solid #5FA6B6;
  border-bottom: 2px solid #5FA6B6;
  background: #ffffff url(../img/icon_add.gif) no-repeat 3px center;
  color: #666;
  text-decoration: none;
}
.commodity h1 .action-spanb a {
  color: #333;
  font-weight: bold;
}
.commodity h1 .action-spanc a {
  color: #9CACAF;
  font-weight: bold;
}
.commodity .form-div {
  width: 100%;
  height: 36px;
  background: null;
  background: #F4FaFb;
  border: 1px solid #BBDDE5;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #808080;
  margin: 0 0 10px 0;
}
.commodity .form-div ul li {
  line-height: 24px;
  float: left;
  font-size: 12px;
  padding: 0 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.commodity .form-div ul li .img {
  display: inline-block;
  vertical-align: middle;
}
.commodity .form-div ul li .button {
  padding: 2px 8px 0px;
  margin: 2px 2px;
  border: 1px solid #2D5082;
  background: url(../img/button_bg.gif) repeat-x;
}
.commodity .form-div ul li span {
  cursor: pointer;
}
.commodity .main-div {
  width: 100%;
  background: #EEF8F9;
  border: 1px solid #BBDDE5;
}
.commodity .main-div table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  display: table;
}
.commodity .main-div table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}
.commodity .main-div table tbody tr th {
  border: solid #add9c0;
  border-width: 0px 1px 1px 0px;
  line-height: 20px;
  background: #bbdde5 url(../img/th_bg.gif) repeat-x;
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-decoration: underline;
}
.commodity .main-div table tbody tr th a {
  color: #335B64;
}
.commodity .main-div table tbody tr th a:hover {
  color: #EB8A3D;
}
.commodity .main-div table tbody tr th {
  width: 10%;
  height: 30px;
  background: null;
}
.commodity .main-div table tbody tr .two-table {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  color: #555555;
  width: 275px;
  height: 30px;
  background: null;
}
.commodity .main-div table tbody tr .last-tab {
  width: 174px;
  height: 30px;
  background: null;
}
.commodity .main-div table tbody tr td {
  border: solid #add9c0;
  border-width: 0px 1px 1px 0px;
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
.commodity .main-div table tbody tr td a {
  text-decoration: underline;
  color: #335B64;
}
.commodity .main-div table tbody tr td .check {
  margin-right: 5px;
}
.commodity .main-div table tbody tr td span {
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.commodity .main-div .page-link {
  margin: 10px 0;
  text-align: right;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.commodity .main-div .page-link span {
  display: inline-block;
  margin: 0 10px;
}
.commodity .main-div .page-link a {
  width: auto;
  height: 20px;
  background: null;
  background: url(../img/button_bg.gif) repeat-x;
  font-size: 12px;
  padding: 2px 8px 2px 8px;
  margin-left: 5px;
  border: 1px solid #2D5082;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.commodity .footer {
  background: #F4FaFb;
  border: 1px solid #BBDDE5;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #9CACAF;
  margin: 10px 0;
  text-align: center;
}
.addcommodity {
  height: auto;
  background: #DDEEF2;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.addcommodity h1 {
  background: #F4FAFB;
  border: 1px solid #BBDDE5;
  font-size: 14px;
  padding: 7px 10px;
  margin: 0 0 10px 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.addcommodity h1 .action-spana {
  float: right;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.addcommodity h1 .action-spana a {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 2px 5px 2px 23px;
  border: 1px solid #278296;
  border-right: 2px solid #278296;
  border-bottom: 2px solid #278296;
  background: #DDEEF2;
  background: url(../img/icon_add.gif) no-repeat 3px center;
}
.addcommodity h1 .action-spana a:hover {
  border: 1px solid #5FA6B6;
  border-right: 2px solid #5FA6B6;
  border-bottom: 2px solid #5FA6B6;
  background: #ffffff url(../img/icon_add.gif) no-repeat 3px center;
  color: #666;
  text-decoration: none;
}
.addcommodity h1 .action-spanb a {
  color: #333;
  font-weight: bold;
}
.addcommodity h1 .action-spanc a {
  color: #9CACAF;
  font-weight: bold;
}
.addcommodity .main-div {
  background: #F4FAFB;
  border: 1px solid #BBDDE5;
  margin-bottom: 10px;
  padding: 2px;
}
.addcommodity .main-div table {
  background: #FFF;
  width: 99%;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.addcommodity .main-div table .label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  color: #192E32;
  width: 30%;
}
.addcommodity .main-div table .label .img {
  display: inline-table;
  vertical-align: middle;
  margin-top: -5px;
}
.addcommodity .main-div table tr td .require-field {
  margin-left: 10px;
  font: 12px verdana;
  color: #FF0000;
}
.addcommodity .main-div table tr td option {
  font-size: 12px;
}
.addcommodity .main-div table tr td .stand {
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 22px;
}
.addcommodity .main-div table tr td .stand-top {
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 22px;
  vertical-align: middle;
}

.addcommodity .main-div table tr td .file_img {
  float: left;
  height: auto;
}
.addcommodity .main-div table tr td .file_img .demo {
  height: auto !important;
}
.addcommodity .main-div table tr .center .button {
  cursor: pointer;
  width: auto;
  height: 20px;
  background: null;
  background: url(../img/button_bg.gif) repeat-x;
  font-size: 12px;
  padding: 2px 8px 2px 8px;
  margin: 2px 2px;
  border: 1px solid #2D5082;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.addcommodity .footer {
  background: #F4FaFb;
  border: 1px solid #BBDDE5;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #9CACAF;
  margin: 10px 0;
  text-align: center;
}
